---
import { SliderHome } from "../components/slider/SliderHome";
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
---

<Layout>
    <div class="mt-[-120px]" id="inicio">
        <SliderHome client:load />
    </div>

    <!-- NOSTROS -->
    <section class="xl:h-[760px]" id="nosotros">
        <About />
    </section>
</Layout>
