---
import { Image } from "astro:assets";
import justicia from "../assets/images/section-bg1.svg";
import about from "../assets/images/about-new.png";
---

<div>
    <Image src={justicia} alt="Imagen Justicia" class="absolute left-0" />
    <div class="container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            <div class="col-span-1 flex justify-center items-center about-div1">
                <Image
                    src={about}
                    alt="About Image"
                    class="xl:w-[640px] w-full max-w-md lg:max-w-none about-image"
                />
            </div>
            <div class="col-span-1 flex flex-col justify-center about-div2">
                <h1 class="tituloH1">Nuestro Estudio Jurídico</h1>
                <p class="parrafo py-[15px]">
                    Somos un equipo que a lo largo de los años nos hemos especializado en diferentes
                    materias con el objeto de entregar una asesoría jurídica correcta y que se
                    oriente a cada caso. El esfuerzo y dedicación son herramientas fundamentales en
                    cada proceso judicial y sabemos lo que significa atravesar momentos difíciles y
                    tomar decisiones importantes.
                </p>
                <h3 class="tituloH3 hidden">
                    Get About our Law Firm and Learn About our Expertise.
                </h3>
            </div>
        </div>
    </div>
</div>

<script>
    import { inView, animate } from "motion";

    // Animación slide-left para la imagen cuando entra en el viewport
    inView(
        ".about-div1",
        (element) => {
            animate(
                element,
                {
                    opacity: [0, 1],
                    x: [-100, 0],
                },
                {
                    ease: [0.39, 0.24, 0.3, 1],
                    duration: 0.5,
                },
            );
        },
        {
            amount: 0.5, // Trigger when 50% of element is visible
        },
    );
    // Animación slide-right para la imagen cuando entra en el viewport
    inView(
        ".about-div2",
        (element) => {
            animate(
                element,
                {
                    opacity: [0, 1],
                    x: [100, 0],
                },
                {
                    ease: [0.39, 0.24, 0.3, 1],
                    duration: 0.9,
                },
            );
        },
        {
            amount: 0.5, // Trigger when 50% of element is visible
        },
    );
</script>
