---
import { Image } from "astro:assets";
import justicia from "../assets/images/section-bg1.svg";
import about from "../assets/images/about-new.webp";
---

<div>
    <Image src={justicia} alt="Imagen Justicia" class="absolute left-0" loading="lazy" />
    <div class="container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            <div
                class="col-span-1 flex justify-center items-center"
                data-aos="fade-right"
                data-aos-duration="800"
            >
                <Image
                    src={about}
                    alt="About Image"
                    class="xl:w-[640px] w-full max-w-md lg:max-w-none"
                    widths={[400, 640, 800, 1000]}
                    sizes="(max-width: 768px) 100vw, (max-width: 1024px) 50vw, 640px"
                    loading="lazy"
                />
            </div>
            <div
                class="col-span-1 flex flex-col justify-center"
                data-aos="fade-left"
                data-aos-duration="900"
            >
                <h1 class="tituloH1">Nuestro Estudio Jurídico</h1>
                <p class="textAlternative py-[15px]">
                    Somos un equipo que a lo largo de los años nos hemos especializado en diferentes
                    materias con el objeto de entregar una asesoría jurídica correcta y que se
                    oriente a cada caso. El esfuerzo y dedicación son herramientas fundamentales en
                    cada proceso judicial y sabemos lo que significa atravesar momentos difíciles y
                    tomar decisiones importantes.
                </p>
                <h3 class="tituloH3 hidden">
                    Get About our Law Firm and Learn About our Expertise.
                </h3>
            </div>
        </div>
    </div>
</div>
